body{
    background-color: #fbf7f0;
    margin: 0;
    padding: 0;
}

header{
    background-color: #555555;
    color: #d9e4dd;
}

.class-title{
    padding-bottom: 5px;
    margin-bottom: 20px;
}

header .navbar a:hover, 
header .navbar-toggler:hover, 
.navbar-nav a:hover,
.dropdown-menu{
    background-color: #a5a5a4;
    color: #555555;
}

header .dropdown-menu a:hover{
    background-color: grey;
    color: #d9e4dd;
}
header .navbar .active {
    background-color: grey;
    color: #d9e4dd;
}

main .navbar{
    justify-content: right;
}
main .navbar-brand a:hover{
    background-color: #555555;
}
main .navbar .active{
    background-color: #d9e4dd;
}
main .dropdown-menu {
    background-color: #d9e4dd;
}

.row{
    margin: 0;
}

.container{
    text-align: center;
    padding: 0;
}

/*clock-design */
.cd{
    border: 3px solid black;
    font-size: 1.1em;
    background-color: #d9e4dd;
    color: #555555;
    margin: 20px;
}
#announce{
    font-size: larger;
    color: #7a0404;
}
/*inner-clock*/
.ic{
    font-size: 2em;
}

.info-all a:hover{
    color:#555555;
}
.info-all a:link,
.info-all a:visited{
    text-decoration: none;
}
.info-all details summary{
    width: 200px;
    background-color: #d9e4dd;
    color:#555555;
}

.lots-of-text{
    background-color: #cdc9c3;
}

.outsource img{
    width: 25px;
}
.outsource{
    position: relative;
    display: inline-block;
}
.outsource .outsource-text{
    visibility: hidden;
    background-color: beige;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 25%;
    font-size: 0.75em;
}
.outsource:hover .outsource-text{
    visibility: visible;
}

#info-disclaimer{
    margin-top: 20px;
}

.sp{
    font-size: 0.7em;
    padding-top: 0;
    margin-top: 0;
}

.lots-of-text li{
    padding-bottom: 10px;
}

.note p, .b-desc p, .side{
    text-align: left;
}

.quag{
    margin: 50px 0px;
}
.quag img{
    width:75%;
}

/*display-inline*/
.di{
    display: inline-block;
}
.di a:visited,
.di a:link{
    color: #1f0481;
    text-decoration: none;
}

.rotation-notes ol li{
    margin-bottom: 20px;
}
.rotation ol li{
    margin-bottom: 10px;
}
.rotation p{
    padding: 0;
    margin-bottom: 10px;
}

.rotation .nav li,
.weapon-box .nav li{
    border: 2px #d9e4dd solid;
}
.weapon-box .nav{
    margin-bottom: 10px;
}

.rotation .nav a,
.weapon-box .nav a{
    color:#555555;
}
.rotation .nav .active,
.weapon-box .nav .active{
    background-color: #d9e4dd;
    color: #555555;
}

.gear-box,
.build-box,
.weapon-box,
.trinket-box,
.prof-box,
.skill-box{
    background-color: #cdc9c3;
    margin: 20px 0px;
    padding: 0;
}

.build-box h4{
    margin: 0;
}

.prof-box img{
    width: 100px;
    padding: 0;
    margin: 0;
}

h4{
    background-color: #d9e4dd;
    margin: 0;
    margin-bottom: 10px;
}

.nm{
    margin: 0;
}

.col-1, .col-4, .col, .col-2, .col-8{
    padding: 0;
}

.armor-rune{
    margin-top: 40px;
}

.build-specialization{
    padding-left: 5px;
}

.construction{
    width: 150px;
}

footer{
    background-color: #555555;
    color: #d9e4dd;
}

footer a:link,
footer a:visited{
    text-decoration: underline;
    color: #d9e4dd;
}
footer a:hover{
    color: #cdc9c3
}

/*class colours*/
.bg-c-guardian{background-color: #b9e0ec;}
.bg-c-revenant{background-color: #e4a598;}
.bg-c-warrior{background-color: #FFE8B3;}
.bg-c-engineer{background-color: #E8BC84;}
.bg-c-ranger{background-color: #C7EFA2;}
.bg-c-thief{background-color: #DEC6C9;}
.bg-c-elementalist{background-color: #FBC5C3;}
.bg-c-mesmer{background-color: #DBBCEA}
.bg-c-necromancer{background-color: #A9D3B7}



